@model CMdm.UI.Web.Models.Customer.CustomerTCAModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CUSTOMER_NO)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDisplayFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_BUSINESS_ADDRESS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_BUSINESS_ADDRESS)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_BUSINESS_ADDRESS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_SPOUSE_DOB)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_SPOUSE_DOB)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_SPOUSE_DOB, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.OTHER_SOURCE_EXPECT_ANN_INC)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.OTHER_SOURCE_EXPECT_ANN_INC)
                                    @Html.ValidationMessageFor(model => model.OTHER_SOURCE_EXPECT_ANN_INC, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_BUSINESS_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_BUSINESS_NAME)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_BUSINESS_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_SPOUSE_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_SPOUSE_NAME)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_SPOUSE_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT)
                                    @Html.ValidationMessageFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_SPOUSE_OCCUPATION)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_SPOUSE_OCCUPATION)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_SPOUSE_OCCUPATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CUSTOMER_BUSINESS_TYPE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CUSTOMER_BUSINESS_TYPE)
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_BUSINESS_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT)
                                    @Html.ValidationMessageFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.BRANCH_CODE, Model.Branches)
                                    @Html.ValidationMessageFor(model => model.BRANCH_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



