@model MdmDqi.Data.MdmDQDataSource

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MdmDQDataSource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MdmDQDsTypes.TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MdmDQDsTypes.TYPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_HOSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_HOSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_SID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_SID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_BY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
