@using CMdm.Framework;
@model CMdm.UI.Web.Models.UserAdmin.PermissionListModel

@{
    ViewBag.Title = "Permissions";
    ViewBag.SubTitle = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGridPageSize = 20;
    var gridPageSizes = "10, 15, 20, 50, 100";
}
<div class="content-header clearfix">

    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-purple">
            <i class="fa fa-plus-square"></i>
            Add New
        </a>
    </div>
    <div class="pull-right">
        <a href="@Url.Action("Loadnew")" class="btn bg-yellow">
            <i class="fa fa-refresh"></i>
            Load new Permissions
        </a>
    </div>
</div>
@Html.AntiForgeryToken()
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    Permission Description
                                </div>
                                <div class="col-md-8">
                                    @Html.CMdmEditorFor(model => model.SearchPermission)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-que" class="btn btn-warning btn-search">
                                        <i class="fa fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="dqque-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#dqque-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Permissions"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "Delete?",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [                                    
                                    {
                                        field: "PERMISSIONDESCRIPTION",
                                        title: "Permission Description",
                                        width: 200
                                    },{
                                        field: "ACTION_NAME",
                                    title: "Action",
                                    width: 150,     

                                    },{
                                        field: "CONTROLLER_NAME",
                                        title: "Controller",
                                        width: 150,     

                                    },{
                                        field: "FORM_URL",
                                        title: "Form Url",
                                        width: 150,     

                                    },
                                {
                                    field: "PARENT_PERMISSION",
                                    title: "Parent Permission",
                                    width: 80,
                                    headerAttributes: { style: "text-align:left" },
                                    attributes: { style: "text-align:left" },
                                    
                                },
                                {
                                    field: "ISACTIVE",
                                    title: "Display on menu?",
                                    width: 80,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if (ISACTIVE) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'

                                },{
                                    field: "Id",
                                    title: "Edit",
                                    width: 50,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>Edit</a>' }]
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            //search button
                            $('#search-que').click(function () {
                                //search
                                var grid = $('#dqque-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.SearchPermission)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-que").click();
                                    return false;
                                }
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchPermission: $('#@Html.FieldIdFor(model => model.SearchPermission)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
