@model CMdm.Entities.Domain.Customer.CMDM_PHONEVALIDATION_RESULTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CMDM_PHONEVALIDATION_RESULTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BRANCH_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_MIDDLE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_MIDDLE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_RUN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_RUN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REASON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REASON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTOMER_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
