@model CMdm.Services.Report.ReportRequestModel
@{
    ViewBag.Title = "ReportView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReportView</h2>

@using (Html.BeginForm())
{
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("Report")
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDropDownListFor(model => model.REPORT_ID, Model.ReportList)
                                        @Html.ValidationMessageFor(model => model.REPORT_ID)
                                    </div>
                                    
                                    @(Html.Kendo().DropDownList()
                                .Name("Branch")
                                    .HtmlAttributes(new { @style = "width:250px" })
                                        .Filter(FilterType.Contains)
                                .DataSource(datasource => datasource
                                              .Read(read => read.Action("GetBranches", "Report")
                                              )).DataTextField("BranchName").DataValueField("BranchId")
                                                      
                                    )
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-rule" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            Get
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.Label("Branch")
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDropDownListFor(model => model.BRANCH_ID, Model.Branches)
                                        @Html.ValidationMessageFor(model => model.BRANCH_ID)
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.FROM_DATE)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.CMdmEditorFor(model => model.FROM_DATE)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.TO_DATE)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.CMdmEditorFor(model => model.TO_DATE)
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.ShowIFrame)
{
    <iframe src='@Url.Content("~/ReportViewer.aspx")' width="100%" height="450px"></iframe>
}
