@model CMdm.Entities.Domain.Customer.IndCustomerBioData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IndCustomerBioData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SURNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SURNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTHER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTHER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NICKNAME_ALIAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NICKNAME_ALIAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_OF_BIRTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_OF_BIRTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE_OF_BIRTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE_OF_BIRTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY_OF_BIRTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY_OF_BIRTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARITAL_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARITAL_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NATIONALITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATIONALITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE_OF_ORIGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE_OF_ORIGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTHER_MAIDEN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTHER_MAIDEN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISABILITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISABILITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPLEXION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLEXION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMBER_OF_CHILDREN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMBER_OF_CHILDREN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RELIGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RELIGION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH_CODE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTOMER_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
