@model CMdm.Entities.ViewModels.MessageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>CMDM Authorization Notification</title>
    <style>

        body {
            margin: 100px 400px;
        }

        .head-text {
            text-align: center;
            background-color: purple;
            color: white;
        }

        .date {
            float: right;
            color: #DAA520;
        }

        table {
            width: 100%;
        }

        th {
            height: 30px;
            background-color: #DAA520;
            color: white;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border: none;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 class="head-text">CMDM Customer Information Update</h1>
    <p class="date">@DateTime.Today</p>
    <p>Dear <b style="color:purple"> @Model.RECIPIENTNAME.ToUpper()</b>,</p>
    <p>
    Please be informed that your pending customer's details has been authorized<br />
    Details below:<br />
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer ID:</td>
                <td>@Model.CUSTOMER_NO</td>
            </tr>
            <tr>
                <td>Branch ID:</td>
                <td>@Model.BRANCH_ID</td>
            </tr>
            <tr>
                <td>Branch Name:</td>
                <td>@Model.BRANCHNAME</td>
            </tr>
            <tr>
                <td>Placed By:</td>
                <td>@Model.UserID</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
