@model CMdm.Entities.ViewModels.MessageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Change Notification</title>
</head>
<body>
    <h4><u>CMDM Notification Service</u></h4>
    <p>@DateTime.Today</p>
    <p>
        Dear @Model.RECIPIENTNAME,<br />
        This is to inform you that a customer details has been changed<br />
        The details of the request is shown below:<br />
    </p>
    <table style="border: none">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer ID:</td>
                <td>@Model.CUSTOMER_NO</td>
            </tr>
            <tr>
                <td>Branch ID:</td>
                <td>@Model.BRANCH_ID</td>
            </tr>
            <tr>
                <td>Branch Name:</td>
                <td>@Model.BRANCHNAME</td>
            </tr>
            <tr>
                <td>Placed By:</td>
                <td>@Model.UserID</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
