@model CMdm.Entities.Domain.Customer.CDMA_ACCOUNT_INFO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CDMA_ACCOUNT_INFO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TYPE_OF_ACCOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_OF_ACCOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_OFFICER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_OFFICER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH_CLASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH_CLASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_DIVISION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_DIVISION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_SEGMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_SEGMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_SIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_SIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BVN_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BVN_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAV_REQUIRED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAV_REQUIRED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHEQUE_CONFIRM_THRESHLDRANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHEQUE_CONFIRM_THRESHLDRANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ONLINE_TRANSFER_LIMIT_RANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ONLINE_TRANSFER_LIMIT_RANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_IC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_IC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_SEGMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_SEGMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPERATING_INSTRUCTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERATING_INSTRUCTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORIGINATING_BRANCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORIGINATING_BRANCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORISED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORISED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_ADDRESS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
