@model IEnumerable<CMdm.Entities.Domain.Dqi.MdmDqRunException>

@{
    ViewBag.Title = "Data Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs-custom > .tab-content {
        color: black;
    }
    
   .modal-dialog {
            width: 900px;

    }
</style>

<div class="content">
    <div class="main-header">
        
      
        <h2>Branch @ViewBag.BranchCode Data Quality Issues</h2>
        <em>You have <span class="label label-success">4 active</span> issues, <span class="label label-warning">2 pending</span> and <span class="label label-default">2 closed</span></em>
               
        
    
     </div>





     

       

        <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
                <tr>
                    <th>
                        Operation
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.CUST_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BRANCH_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BRANCH_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISSUE_PRIORITY)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.RULE_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RUN_DATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISSUE_STATUS)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string badgestyle = string.Empty;
                    string status = string.Empty;
                    string prioritystatus = string.Empty;
                    string prioritybadgestyle = string.Empty;
                    switch (item.ISSUE_STATUS)
                    {
                        case 1:
                            badgestyle = "label label-success";
                            status = "Fixed";
                            break;
                        case 2:
                            badgestyle = "label label-warning";
                            status = "In progress";
                            break;
                        case 3:
                            badgestyle = "label label-primary";
                            status = "Added";
                            break;
                        default:
                            badgestyle = "label label-info";
                            status = "Information";
                            break;
                    }
                    switch (item.ISSUE_PRIORITY)
                    {
                        case 1:
                            prioritybadgestyle = "label label-danger";
                            prioritystatus = "Normal";
                            break;
                        case 2:
                            prioritybadgestyle = "label label-warning";
                            prioritystatus = "Major";
                            break;
                        case 3:
                            prioritybadgestyle = "label label-primary";
                            prioritystatus = "Critical";
                            break;
                        default:
                            prioritybadgestyle = "label label-info";
                            prioritystatus = "Medium";
                            break;
                    }
                    <tr>
                        <td>
                            <button onclick="modifyProfile('@item.CUST_ID',@item.BRANCH_CODE,@item.RULE_ID,'@item.CATALOG_TABLE_NAME');" type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-primary">
                               Modify
                            </button>

                            <button onclick="validateProfile('@item.CUST_ID',@item.BRANCH_CODE,@item.RULE_ID,'@item.CATALOG_TABLE_NAME');" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-primary">
                                Validate
                            </button>
                        </td>
                        <td>
                            <a href="@Url.Action("IndividualCustomer", "CustomerInfo", new { CustId = item.CUST_ID})"> <b>@item.CUST_ID</b></a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRANCH_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRANCH_NAME)
                        </td>
                        
                        <td>
                            <span class="@prioritybadgestyle">@Html.DisplayFor(modelItem => item.MdmDQPriorities.PRIORITY_DESCRIPTION)</span>
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RULE_NAME)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RUN_DATE)
                        </td>
                        <td>
                            <span class="@badgestyle">@status</span>
                           
                        </td>
                        <td></td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </tfoot>
        </table>

    </div>

</div>


@section Styles {
    @Styles.Render("~/Content/assets/css/plugins/datatable/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")


<script type="text/javascript">

    //biodata
    function ApproveData() {
        //  alert('Hello');saving display
        // document.getElementById("display").innerHTML = "";
        $("#display").css({ 'display': 'none' });
        $("#update").css({ 'display': 'none' });
        $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("ApproveBioData", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    };



      //biodata
    function submitIncomeInfo() {
       //  alert('Hello');saving display
       // document.getElementById("display").innerHTML = "";
       $("#display").css({ 'display': 'none' });
       $("#update").css({ 'display': 'none' });
       $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("SaveIncomeData", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    }





    //biodata
   function submitBioData() {
       //  alert('Hello');saving display
       // document.getElementById("display").innerHTML = "";
       $("#display").css({ 'display': 'none' });
       $("#update").css({ 'display': 'none' });
       $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("SaveBioData", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    }


      //biodata
   function submitAccInfo() {
       //  alert('Hello');saving display
       // document.getElementById("display").innerHTML = "";
       $("#display").css({ 'display': 'none' });
       $("#update").css({ 'display': 'none' });
       $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("SaveAccInfo", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });

      //  e.preventDefault(); // avoid to execute the actual submit of the form.
    }


    //modifyProfile
    function modifyProfile(cus_id,branch,rule,table)
    {
        $("#update").css({ 'display': 'none' });
        var queryString = "c_id=" + cus_id;
        queryString += "&branch=" + branch + "&rule=" + rule + "&table=" + table;
        //alert(cus_id);
        $("#loading").css({ 'display': 'block' });
        $("#display").css({ 'display': 'none' });
         $.ajax({url: "@Url.Action("Dataquality", "Dynamic")",
                 type: 'get',data: queryString,cache: false,
                 success: function (data) {
                     // alert(data);
                     $("#loading").css({ 'display': 'none' });
                     $("#display").css({ 'display': 'block' });

                      document.getElementById("display").innerHTML = "";
                     // document.getElementById("display").innerHTML="hello";
                     // var response = jQuery.parseJSON(data);
                      //alert(response);
                      document.getElementById("display").innerHTML = data;
                  }
                          }
                   );


    }



    //modifyProfile
    function validateProfile(cus_id,branch,rule,table)
    {
        $("#update").css({ 'display': 'none' });
        var queryString = "c_id=" + cus_id;
        queryString += "&branch=" + branch + "&rule=" + rule + "&table=" + table;
        //alert(cus_id);
        $("#loading").css({ 'display': 'block' });
        $("#display").css({ 'display': 'none' });
        $.ajax({url: "@Url.Action("DataValidation", "Dynamic")",
            type: 'get',data: queryString,cache: false,
        success: function (data) {
            // alert(data);
            $("#loading").css({ 'display': 'none' });
            $("#display").css({ 'display': 'block' });

            document.getElementById("display").innerHTML = "";
            // document.getElementById("display").innerHTML="hello";
            // var response = jQuery.parseJSON(data);
            //alert(response);
            document.getElementById("display").innerHTML = data;
        }
    }
                   );


    }
    function ApproveIncome(cus_id,branch,rule,table)
    {
        //  alert('Hello');saving display
       // document.getElementById("display").innerHTML = "";
       $("#display").css({ 'display': 'none' });
       $("#update").css({ 'display': 'none' });
       $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("ApproveIncome", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });


    }



        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Rules' },
                    { extend: 'pdf', title: 'Rules' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });





</script>
}


<div class="modal modal-primary fade" id="modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <center><div id="loading"><img src="~/AdminLTE/dist/img/loading.gif"></div></center>
            <div class="modal-body" style="display:none" id="update">

            </div>


            <div class="modal-body" id="display">
               
            </div>
            <div id="saving" class="box box-danger box-solid" style="display:none">
                <div class="box-header">
                    <h3 class="box-title">Updating Record</h3>
                </div>
                <div class="box-body">
                    Saving record,please wait...
                </div>
                <!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
        function loadlga() {

            var itemSelected = $("#STATES_RES").val();

            var queryString = "state_id=" + itemSelected;

            // $("#lgloading").css({ 'display': 'block' });
            $("#lgloading").show();
            // alert(itemSelected);
            $.ajax({
                url: "@Url.Action("loadlga", "Dynamic")",
            type: 'get',data: queryString,cache: false,
        success: function (data) {
            // alert(data);

            $("#lgloading").css({ 'display': 'none' });

            document.getElementById("LGA").innerHTML = "";

            document.getElementById("LGA").innerHTML = data;
        }
    }
                   );




        }



    function approveAccInfo() {

       //  alert('Hello');saving display
       // document.getElementById("display").innerHTML = "";
       $("#display").css({ 'display': 'none' });
       $("#update").css({ 'display': 'none' });
       $("#saving").css({ 'display': 'block' });

        var frm = $('#biodata');

        var url = "@Url.Action("approveAccInfodata", "Dynamic")"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#biodata").serialize(), // serializes the form's elements.
            success: function (data) {
                // alert(data); // show response from the server.
                $("#saving").css({ 'display': 'none' });
                $("#display").css({ 'display': 'none' });
                $("#update").css({ 'display': 'block' });
                //update
                document.getElementById("update").innerHTML = "";
                document.getElementById("update").innerHTML = data;
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    }



</script>
