@model IEnumerable<CMdm.Entities.Domain.Dqi.MdmDqRunException>

@{
    ViewBag.Title = "Data Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")


<style>
    .nav-tabs-custom > .tab-content {
        color: black;
    }
</style>

<div class="content">
    <div class="main-header">
        <h2>Branch @ViewBag.BranchCode Data Quality Issues</h2>
        <em>You have <span class="label label-success">4 active</span> issues, <span class="label label-warning">2 pending</span> and <span class="label label-default">2 closed</span></em>
    </div>




    @*<div class="widget-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Modal Examples</h3>
                    </div>
                    <div class="box-body">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                            Launch Default Modal
                        </button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-primary">
                            Launch Info Modal
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                            Launch Danger Modal
                        </button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
                            Launch Warning Modal
                        </button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                            Launch Success Modal
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Default Modal</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



        <div class="modal modal-primary fade" id="modal-primary">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Primary Modal</h4>
                    </div>
                    <div class="modal-body" style="color:black;">
                        <div>

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-right">
                                    <li class="active"><a href="#tab_1-1" data-toggle="tab">Tab 1</a></li>
                                    <li><a href="#tab_2-2" data-toggle="tab">Tab 2</a></li>
                                    <li><a href="#tab_3-2" data-toggle="tab">Tab 3</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Dropdown <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                    <li class="pull-left header"><i class="fa fa-th"></i> Custom Tabs</li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1-1">
                                        <b>How to use:</b>
                                        <p>
                                            Exactly like the original bootstrap tabs except you should use
                                            the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.
                                        </p>
                                        A wonderful serenity has taken possession of my entire soul,
                                        like these sweet mornings of spring which I enjoy with my whole heart.
                                        I am alone, and feel the charm of existence in this spot,
                                        which was created for the bliss of souls like mine. I am so happy,
                                        my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                                        that I neglect my talents. I should be incapable of drawing a single stroke
                                        at the present moment; and yet I feel that I never was a greater artist than now.
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_2-2">
                                        The European languages are members of the same family. Their separate existence is a myth.
                                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                        new common language would be desirable: one could refuse to pay expensive translators. To
                                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                        words. If several languages coalesce, the grammar of the resulting language is more simple
                                        and regular than that of the individual languages.
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_3-2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        It has survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->

                         </div>

                        </div>
                    <!-- /.col -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>*@
        <!-- /.modal -->


    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>


                <th>

                    @Html.DisplayNameFor(model => model.CUST_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BRANCH_CODE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BRANCH_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISSUE_PRIORITY)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RULE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RUN_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISSUE_STATUS)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string badgestyle = string.Empty;
                string status = string.Empty;
                string prioritystatus = string.Empty;
                string prioritybadgestyle = string.Empty;
                switch (item.ISSUE_STATUS)
                {
                    case 1:
                        badgestyle = "label label-success";
                        status = "Fixed";
                        break;
                    case 2:
                        badgestyle = "label label-warning";
                        status = "In progress";
                        break;
                    case 3:
                        badgestyle = "label label-primary";
                        status = "Added";
                        break;
                    default:
                        badgestyle = "label label-info";
                        status = "Information";
                        break;
                }
                switch (item.ISSUE_PRIORITY)
                {
                    case 1:
                        prioritybadgestyle = "label label-danger";
                        prioritystatus = "Normal";
                        break;
                    case 2:
                        prioritybadgestyle = "label label-warning";
                        prioritystatus = "Major";
                        break;
                    case 3:
                        prioritybadgestyle = "label label-primary";
                        prioritystatus = "Critical";
                        break;
                    default:
                        prioritybadgestyle = "label label-info";
                        prioritystatus = "Medium";
                        break;
                }
                <tr>
                    <td>
                        <a href="@Url.Action("IndividualCustomer", "CustomerInfo", new { CustId = item.CUST_ID})"> <b>@item.CUST_ID</b></a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BRANCH_CODE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BRANCH_NAME)
                    </td>

                    <td>
                        <span class="@prioritybadgestyle">@Html.DisplayFor(modelItem => item.MdmDQPriorities.PRIORITY_DESCRIPTION)</span>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RULE_NAME)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RUN_DATE)
                    </td>
                    <td>
                        <span class="@badgestyle">@status</span>

                    </td>
                    <td></td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </tfoot>
    </table>



    </div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}