@using CMdm.Framework;
@model CMdm.UI.Web.Models.DqQue.DqQueListModel

@{
    ViewBag.Title = "Data Quality Issues";
    //ViewBag.SubTitle = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGridPageSize = 20;
    var gridPageSizes = "10, 15, 20, 50, 100";
}

@*<div class="content-header clearfix">
    <h1 class="pull-left">
        Data Quality QUe
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add New
        </a>
    </div>
</div>*@
@Html.AntiForgeryToken()
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    Process Description
                                </div>
                                <div class="col-md-8">
                                    @Html.CMdmEditorFor(model => model.SearchName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-que" class="btn btn-warning btn-search">
                                        <i class="fa fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    Customer Type
                                </div>
                                <div class="col-md-8">
                                    @Html.CMdmDropDownListFor(model => model.MDM_ID, Model.MdmList)
                                </div>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="dqque-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#dqque-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "DQQue"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "Delete?",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    @*@if (1==1)
                                {
                                        <text>{
                                        field: "PRIORITY",
                                            title: "Priority",
                                            width: 50,
                                            template: '<span class="grid-report-item ' +
                                                '# if(PRIORITY == 1) {# red #} #' +
                                                '# if(PRIORITY == 2) {# yellow #} #' +
                                                '# if(PRIORITY == 3) {# blue #} #' +
                                                '# if(PRIORITY == 4) {# green #} #' +
                                                '# if(PRIORITY == 5) {# green #} #' +
                                                '">#=ISSUE_PRIORITY_DESC#</span>'
                                        },</text>
                                    }*@ 
                                    {
                                    field: "DQ_PROCESS_NAME",
                                    title: "Process Name",
                                    width: 250,
                                    template: '<a href="@Url.Content("~/DQQue/BrnIssueList/")#=CATALOG_ID#">#:DQ_PROCESS_NAME#</a>'                                   
                                    }, {
                                    field: "CATALOG_NAME",
                                    title: "Catalog name",
                                    width: 200,
                                    headerAttributes: { style: "text-align:left" },
                                    attributes: { style: "text-align:left" },

                                    }, {
                                        field: "DATA_SOURCE",
                                        title: "Data Source",
                                        width: 100
                                    },{
                                    field: "CREATED_DATE",
                                    title: "Run Date",
                                    width: 150,
                                    type: "date",
                                    format: "{0:G}",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },

                                },
                                //{
                                //    field: "PCT_COMPLETION",
                                //    title: "% Resolved",
                                //    width: 80,
                                //    headerAttributes: { style: "text-align:left" },
                                //    attributes: { style: "text-align:left" },
                                //    template: '<div class="progress"> <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: #:PCT_COMPLETION#%">  <span class="sr-only">40% Complete (success)</span>  </div>  </div>'
                                //},
                                {
                                    field: "DaysonQue",
                                    title: "Days",
                                    width: 80,
                                    headerAttributes: { style: "text-align:left" },
                                    attributes: { style: "text-align:left" },

                                },{
                                    field: "RECORD_ID",
                                    title: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Details/#=RECORD_ID#"><i class="fa fa-pencil"></i>Details</a>' }]
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            //search button
                            $('#search-que').click(function () {
                                //search
                                var grid = $('#dqque-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.SearchName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-que").click();
                                    return false;
                                }
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchName: $('#@Html.FieldIdFor(model => model.SearchName)').val(),
                                CATALOG_ID: $('#CATALOG_ID').val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $('#BTN_PROCESS_NAME').click(function () {
            @HttpContext.Current.Session["CATALOG_ID"] = id;
        })
    });

</script>
