@model CMdm.UI.Web.Models.Customer.CorpCustModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CompDetailsModel.CUSTOMER_NO)
@Html.HiddenFor(model => model.CompInfoModel.CUSTOMER_NO)
@Html.HiddenFor(model => model.GuarantorModel.CUSTOMER_NO)
@Html.HiddenFor(model => model.CorpADDModel.CUSTOMER_NO)
@Html.HiddenFor(model => model.BenOwnersModel.ORGKEY)


<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <h4 style="color:#dd4b39;margin-left:2%;">COMPANY DETAILS</h4>
                        <hr />
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CompDetailsModel.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDisplayFor(model => model.CompDetailsModel.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-9">
                                    @Html.HiddenFor(model => model.CompDetailsModel.CUSTOMER_NO)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompDetailsModel.CERT_OF_INCORP_REG_NO)
                                </div>
                                <div class="col-md-9">
                                    @*@Html.CMdmDropDownListFor(model => model.BioData.TITLE, Model.BioData.TitleTypes)*@
                                    @Html.CMdmEditorFor(model => model.CompDetailsModel.CERT_OF_INCORP_REG_NO)
                                    @Html.ValidationMessageFor(model => model.CompDetailsModel.CERT_OF_INCORP_REG_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompDetailsModel.OPERATING_BUSINESS_1)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompDetailsModel.OPERATING_BUSINESS_1)
                                    @Html.ValidationMessageFor(model => model.CompDetailsModel.OPERATING_BUSINESS_1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompDetailsModel.BIZ_ADDRESS_REG_OFFICE_1)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompDetailsModel.BIZ_ADDRESS_REG_OFFICE_1)
                                    @Html.ValidationMessageFor(model => model.CompDetailsModel.BIZ_ADDRESS_REG_OFFICE_1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CompDetailsModel.EXPECTED_ANNUAL_TURNOVER)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.CompDetailsModel.EXPECTED_ANNUAL_TURNOVER, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                        @Html.ValidationMessageFor(model => model.CompDetailsModel.EXPECTED_ANNUAL_TURNOVER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CompDetailsModel.BRANCH_CODE)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDropDownListFor(model => model.CompDetailsModel.BRANCH_CODE, Model.CompDetailsModel.Branches)
                                        @Html.ValidationMessageFor(model => model.CompDetailsModel.BRANCH_CODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                        <h4 style="color:#dd4b39; margin-left:2%;">COMPANY INFORMATION</h4>
                        <hr />
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.COMPANY_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.COMPANY_NAME)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.COMPANY_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.REGISTERED_ADDRESS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.REGISTERED_ADDRESS)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.REGISTERED_ADDRESS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.CompInfoModel.BRANCH_CODE, Model.CompInfoModel.Branches)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.BRANCH_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.EOC_RISK)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.EOC_RISK)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.EOC_RISK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.CURRENT_LINE_OF_BUSINESS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.CURRENT_LINE_OF_BUSINESS)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.CURRENT_LINE_OF_BUSINESS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.COMPANY_NETWORTH_SOA)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CompInfoModel.COMPANY_NETWORTH_SOA, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.COMPANY_NETWORTH_SOA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.INTRODUCED_BY)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.INTRODUCED_BY)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.INTRODUCED_BY, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.BRF_INVESTIGATION_MEDIA_REPORT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.BRF_INVESTIGATION_MEDIA_REPORT)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.BRF_INVESTIGATION_MEDIA_REPORT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.INVESTIGATION_MEDIA_REPORT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.INVESTIGATION_MEDIA_REPORT)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.INVESTIGATION_MEDIA_REPORT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.ADD_VERIFICATION_STATUS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.ADD_VERIFICATION_STATUS)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.ADD_VERIFICATION_STATUS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.ANTICIPATED_TRANS_OUTFLOW)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CompInfoModel.ANTICIPATED_TRANS_OUTFLOW, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.ANTICIPATED_TRANS_OUTFLOW, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.ANTICIPATED_TRANS_INFLOW)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CompInfoModel.ANTICIPATED_TRANS_INFLOW, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.ANTICIPATED_TRANS_INFLOW, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.LENGTH_OF_STAY_INBUS)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CompInfoModel.LENGTH_OF_STAY_INBUS, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.LENGTH_OF_STAY_INBUS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.SOURCE_OF_ASSET)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.SOURCE_OF_ASSET)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.SOURCE_OF_ASSET, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CompInfoModel.HISTORY_OF_CUSTOMER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CompInfoModel.HISTORY_OF_CUSTOMER)
                                    @Html.ValidationMessageFor(model => model.CompInfoModel.HISTORY_OF_CUSTOMER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 style="color:#dd4b39;margin-left:2%;">BENEFICIAL OWNERS</h4>
                        <hr />
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BenOwnersModel.PERCENTAGE_OF_BENEFICIARY)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.BenOwnersModel.PERCENTAGE_OF_BENEFICIARY, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.BenOwnersModel.PERCENTAGE_OF_BENEFICIARY, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BenOwnersModel.NAMES_OF_BENEFICIARY)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.BenOwnersModel.NAMES_OF_BENEFICIARY)
                                    @Html.ValidationMessageFor(model => model.BenOwnersModel.NAMES_OF_BENEFICIARY, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BenOwnersModel.PRIMARY_SOL_ID)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.BenOwnersModel.PRIMARY_SOL_ID, Model.BenOwnersModel.Branches)
                                    @Html.ValidationMessageFor(model => model.BenOwnersModel.PRIMARY_SOL_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 style="color:#dd4b39;margin-left:2%;">ADDITIONAL DETAILS</h4>
                        <hr />
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CorpADDModel.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.CorpADDModel.BRANCH_CODE, Model.CorpADDModel.Branches)
                                    @Html.ValidationMessageFor(model => model.CorpADDModel.BRANCH_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CorpADDModel.COUNTERPARTIES_CLIENTS_OF_CUST)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CorpADDModel.COUNTERPARTIES_CLIENTS_OF_CUST)
                                    @Html.ValidationMessageFor(model => model.CorpADDModel.COUNTERPARTIES_CLIENTS_OF_CUST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 style="color:#dd4b39;margin-left:2%;">GUARANTOR INFORMATION</h4>
                        <hr />
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.LNAME_OF_GUARANTOR)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.GuarantorModel.LNAME_OF_GUARANTOR)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.LNAME_OF_GUARANTOR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.FNAME_OF_GUARANTOR)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.GuarantorModel.FNAME_OF_GUARANTOR)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.FNAME_OF_GUARANTOR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.TIN_OF_GUARANTOR)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.GuarantorModel.TIN_OF_GUARANTOR)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.TIN_OF_GUARANTOR, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.BVN_OF_GUARANTOR)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.GuarantorModel.BVN_OF_GUARANTOR)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.BVN_OF_GUARANTOR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.GURANTEED_AMOUNT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.GuarantorModel.GURANTEED_AMOUNT)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.GURANTEED_AMOUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.GuarantorModel.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.GuarantorModel.BRANCH_CODE, Model.CorpADDModel.Branches)
                                    @Html.ValidationMessageFor(model => model.GuarantorModel.BRANCH_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('#zip').keyup(function (e) {
                    $('#zip').val().replace(/\-/g, '');
                });
            });
        </script>
    }
