@model CMdm.UI.Web.Models.Customer.EmpInfoModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CUSTOMER_NO)
@Html.HiddenFor(model => model.TIER)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDisplayFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.OCCUPATION)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.OCCUPATION)
                                    @Html.ValidationMessageFor(model => model.OCCUPATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMPLOYMENT_STATUS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.EMPLOYMENT_STATUS, Model.EmploymentStatus)
                                    @Html.ValidationMessageFor(model => model.EMPLOYMENT_STATUS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.FAX_NO)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.FAX_NO)
                                    @Html.ValidationMessageFor(model => model.FAX_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.DATE_OF_EMPLOYMENT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.DATE_OF_EMPLOYMENT)
                                    @Html.ValidationMessageFor(model => model.DATE_OF_EMPLOYMENT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMP_ADDRESS_NO)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.EMP_ADDRESS_NO)
                                    @Html.ValidationMessageFor(model => model.EMP_ADDRESS_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMPLOYMENT_ADD_LGA)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.EMPLOYMENT_ADD_LGA, Model.LGAs)
                                    @Html.ValidationMessageFor(model => model.EMPLOYMENT_ADD_LGA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMPLOYMENT_ADDRESS_CITY)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.EMPLOYMENT_ADDRESS_CITY)
                                    @Html.ValidationMessageFor(model => model.EMPLOYMENT_ADDRESS_CITY, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMPLOYER_INSTITUTION_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.EMPLOYER_INSTITUTION_NAME)
                                    @Html.ValidationMessageFor(model => model.EMPLOYER_INSTITUTION_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NATURE_OF_BUSINESS_OCCUPATION)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.NATURE_OF_BUSINESS_OCCUPATION, Model.Businessnature)
                                    @Html.ValidationMessageFor(model => model.NATURE_OF_BUSINESS_OCCUPATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.OFFICE_NO_CUSTOMER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.OFFICE_NO_CUSTOMER)
                                    @Html.ValidationMessageFor(model => model.OFFICE_NO_CUSTOMER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMPLOYER_ADD_STATE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.EMPLOYER_ADD_STATE, Model.States)
                                    @Html.ValidationMessageFor(model => model.EMPLOYER_ADD_STATE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.STREET_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.STREET_NAME)
                                    @Html.ValidationMessageFor(model => model.STREET_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.ANNUAL_INCOME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.ANNUAL_INCOME)
                                    @Html.ValidationMessageFor(model => model.ANNUAL_INCOME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BUSTOP_LANDMARK_EMPLOYMENT_ADD)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.BUSTOP_LANDMARK_EMPLOYMENT_ADD)
                                    @Html.ValidationMessageFor(model => model.BUSTOP_LANDMARK_EMPLOYMENT_ADD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.BRANCH_CODE, Model.Branches)
                                    @Html.ValidationMessageFor(model => model.BRANCH_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

