<!DOCTYPE html>
<html lang="en">
<head>
    @{Html.RenderPartial("~/Views/Shared/_LayoutHead.cshtml");}
    @RenderSection("Head", false)
    <title>Login</title>
</head>
<body  id="s-LoginPage" class="no-navigation">
    @RenderBody()

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @RenderSection("scripts", required: false)
</body>
</html>