
@using CMdm.UI.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Bluechip MDM</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")

    <link href="@Url.Content("~/Content/kendo/2017.3.1026/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1026/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1026/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1026/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    
    

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.web.min.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.dataviz.core.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.dataviz.chart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.dataviz.themes.min.js")"></script>    
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.dataviz.gauge.min.js")"></script>
    
    


    <script src="@Url.Content("~/Scripts/kendo/2017.3.1026/kendo.aspnetmvc.min.js")"></script>


    @Styles.Render("~/Content/customstyle.css")
    @Scripts.Render("~/Scripts/common.js")
    @Styles.Render("~/Themes/DefaultClean/Content/css/nopcss.css")
    <style>
        .main-header .logo i {
            width: 50px;
            height: 50px;
            float: left;
            background: url(../../Content/images/logo-48x48.png) no-repeat center center;
            /*animation: fa-spin 5s infinite linear reverse;*/
        }
    </style>
    @*@{
            var browser = Request.Browser;
            if (browser.Browser == "IE" && browser.MajorVersion == 8)
            {
                Styles.Render("~/Themes/DefaultClean/Content/css/ie8.css");
            }


        }*@
    @*<script src="@Url.Content("~/Scripts/kendo/2017.3.1026/jszip.min.js")"></script>*@
</head>
<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>C</b>MDM</span>
                <span class="logo-lg">
                    <i></i>
                    <b>CMDM</b>
                </span>
            </a>
            @Html.Partial("_TopBarPartial")

        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                @*<div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserNameIdentifier()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>*@
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                @Html.Partial("_Menu")
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Bluechip CMDM</b> version 1.0
            </div>
            <strong>Copyrights | Bluechip Technologies Ltd &copy; 2017 <a href="http://www.bluechiptech.biz">Bluechip Technologies Ltd</a>.</strong> All rights
            reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>

    @* @Scripts.Render("~/AdminLTE/plugins/jquery/js")

        @Scripts.Render("~/AdminLTE/bootstrap/js")*@

    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @RenderSection("scripts", required: false)
</body>
</html>