@model IEnumerable<CMdm.Entities.Domain.Dqi.CDMA_DQI_PROCESSING_RESULT>
@{
    ViewBag.Title = "DQI Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
<table class="table table-bordered table-striped table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DQI_RESULT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREVIOUS_DQI_RESULT)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BRANCH_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DQI_RESULT)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PREVIOUS_DQI_RESULT)%
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PROCESS_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PROCESS_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PROCESS_ID })
            </td>*@
        </tr>
    }
</table>
