@model CMdm.UI.Web.Models.Customer.CustomerJuratModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CUSTOMER_NO)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDisplayFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.DATE_OF_OATH)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.DATE_OF_OATH)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NAME_OF_INTERPRETER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NAME_OF_INTERPRETER)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.ADDRESS_OF_INTERPRETER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.ADDRESS_OF_INTERPRETER)

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.TELEPHONE_NO)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.TELEPHONE_NO)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.LANGUAGE_OF_INTERPRETATION)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.LANGUAGE_OF_INTERPRETATION)

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


