@model CMdm.UI.Web.Models.Messaging.MessageModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Notification</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        *[class="table_width_100"] {
            width: 96% !important;
        }

        *[class="border-right_mob"] {
            border-right: 1px solid #dddddd;
        }

        *[class="mob_100"] {
            width: 100% !important;
        }

        *[class="mob_center"] {
            text-align: center !important;
        }

        *[class="mob_center_bl"] {
            float: none !important;
            display: block !important;
            margin: 0px auto;
        }

        .iage_footer a {
            text-decoration: none;
            color: #929ca8;
        }

        img.mob_display_none {
            width: 0px !important;
            height: 0px !important;
            display: none !important;
        }

        img.mob_width_50 {
            width: 40% !important;
            height: auto !important;
        }

        .table_width_100 {
            width: 680px;
        }
    </style>
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @Scripts.Render("~/AdminLTE/bootstrap/js")
</head>
<body>
    <div id="mailsub" class="notification" align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
            <tr>
                <td align="center" bgcolor="#eff3f8">
                    <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                        <tr>
                            <td>
                                <!-- padding -->
                            </td>
                        </tr>
                        <!--header -->
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                <!-- padding -->
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; float:left; width:100%; padding:20px;text-align:center; font-size: 13px;">
                                                <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                                    <h4>CMDM Notifcation Service</h4>
                                                </font>
                                                @DateTime.Today
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#fbfcfd">
                                            <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            Dear @Model.RECIPIENTNAME,<br />
                                                            This is to inform you that a change has been made on a customer pending authorization<br />
                                                            The details of the request is shown below:<br />
                                                            Customer ID: @Model.CUSTOMER_NO<br />
                                                            Branch ID: @Model.BRANCH_ID<br />
                                                            Branch: @Model.BRANCHNAME<br />
                                                            Placed By: @Model.UserID<br />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <div style="line-height: 24px;">
                                                                Please <a href="#" target="_blank" class="btn btn-danger block-center">Login</a> to authorize
                                                            </div>
                                                            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </font>
                                        </td>
                                    </tr>
                                    <!--content 1 END-->
                                    <!--footer -->
                                    <tr>
                                        <td class="iage_footer" align="center" bgcolor="#ffffff">

                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center" style="padding:20px;float:left;width:100%; text-align:center;">
                                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
                                                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                                                                Copyrights | Bluechip Technologies Ltd &copy; @DateTime.Now.Year <a href="http://www.bluechiptech.biz/" target="_blank">Bluechip Technologies Ltd</a>. All rights reserved.
                                                            </span>
                                                        </font>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--footer END-->
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

