@model CMdm.UI.Web.Models.Customer.CustomerForeignerModel
@Html.ValidationSummary(true)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmEditorFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.FOREIGNER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.FOREIGNER, Model.Foreigners)
                                    @Html.ValidationMessageFor(model => model.FOREIGNER)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.PASSPORT_RESIDENCE_PERMIT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.PASSPORT_RESIDENCE_PERMIT)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.PERMIT_ISSUE_DATE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.PERMIT_ISSUE_DATE)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.PERMIT_EXPIRY_DATE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.PERMIT_EXPIRY_DATE)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.FOREIGN_ADDRESS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.FOREIGN_ADDRESS)

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CITY)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CITY)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.COUNTRY)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.COUNTRY, Model.Countries)
                                    @Html.ValidationMessageFor(model => model.COUNTRY)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.FOREIGN_TEL_NUMBER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.FOREIGN_TEL_NUMBER)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.ZIP_POSTAL_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.ZIP_POSTAL_CODE)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.PURPOSE_OF_ACCOUNT)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.PURPOSE_OF_ACCOUNT)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.MULTIPLE_CITEZENSHIP)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.MULTIPLE_CITEZENSHIP, Model.MultipleCitezenships)
                                    @Html.ValidationMessageFor(model => model.MULTIPLE_CITEZENSHIP)

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


