@model IEnumerable<CMdm.Entities.Domain.Customer.CDMA_EMPLOYMENT_DETAILS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Businessnature.BUSINESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indsegment.SEGMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupationtype.OCCUPATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subsectortype.SUBSECTOR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYMENT_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYER_INSTITUTION_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OF_EMPLOYMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUB_SECTOR)
        </th>
        
         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Businessnature.BUSINESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indsegment.SEGMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupationtype.OCCUPATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subsectortype.SUBSECTOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYMENT_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYER_INSTITUTION_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_OF_EMPLOYMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUB_SECTOR)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUSTOMER_NO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUSTOMER_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUSTOMER_NO })
        </td>
    </tr>
}

</table>
