@model CMdm.UI.Web.Models.Customer.CustomerNOKModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CUSTOMER_NO)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmDisplayFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.Label("Title")
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.TITLE, Model.TitleTypes)
                                    @Html.ValidationMessageFor(model => model.TITLE)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.SURNAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.SURNAME)

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.FIRST_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.FIRST_NAME)

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.OTHER_NAME)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.OTHER_NAME)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.DATE_OF_BIRTH)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.DATE_OF_BIRTH)

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.Label("Gender")
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.SEX, Model.Genders)
                                    @Html.ValidationMessageFor(model => model.SEX)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.Label("Relationship")
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.RELATIONSHIP, Model.RelationshipTypes)
                                    @Html.ValidationMessageFor(model => model.RELATIONSHIP)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.EMAIL_ADDRESS)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.EMAIL_ADDRESS)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NEXT_OF_KIN_RESIDENTIALSTREET)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NEXT_OF_KIN_RESIDENTIALSTREET)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NOK_ADDRESS_NO)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NOK_ADDRESS_NO)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CITY_TOWN)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.CITY_TOWN)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.Label("LGA")
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.LGA, Model.LocalGovts)
                                    @Html.ValidationMessageFor(model => model.LGA)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NEAREST_BUS_STOP_LANDMARK)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NEAREST_BUS_STOP_LANDMARK)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.Label("State")
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.STATE, Model.States)
                                    @Html.ValidationMessageFor(model => model.STATE)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NEXT_OF_KIN_PHONE_NUMBER)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NEXT_OF_KIN_PHONE_NUMBER)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.NEXT_OF_KIN_PHONE_NUMBER2)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmEditorFor(model => model.NEXT_OF_KIN_PHONE_NUMBER2)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.BRANCH_CODE)
                                </div>
                                <div class="col-md-9">
                                    @Html.CMdmDropDownListFor(model => model.BRANCH_CODE, Model.Branches)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
    </div>
</div>

