@model CMdm.Entities.Domain.GoldenRecord.GoldenRecordRules

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>GoldenRecordRules</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RULE_NAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RULE_NAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RULE_DESCRIPTION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RULE_DESCRIPTION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RULE_STATUS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RULE_STATUS)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
