@model IEnumerable<CMdm.Entities.Domain.GoldenRecord.GoldenRecordRules>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RULE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RULE_DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RULE_STATUS)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RULE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RULE_DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RULE_STATUS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RULE_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.RULE_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RULE_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
