@model IEnumerable<CMdm.UI.Web.Models.DqValidator.DqValidatorModel>

@{
    ViewBag.Title = "Data Validators";
    ViewBag.SubTitle = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
<div class="content-header clearfix">
    <h1 class="pull-left">
        Data Validators
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-purple">
            <i class="fa fa-plus-square"></i>
            Add New
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
           
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.REGEX_NAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.REGEX_DESC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.REGEX_STRING)
                                </th>
                               
                                @*<th>
                                        @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
                                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.REGEX_NAME)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.REGEX_DESC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.REGEX_STRING)
                                    </td>
                                    <td>
                                       @Html.ActionLink("Edit", "Edit", new { id = item.REGEX_ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.REGEX_ID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                              

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
