@model IEnumerable<CMdm.Entities.Domain.Customer.CDMA_TRUSTS_CLIENT_ACCOUNTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TRUSTS_CLIENT_ACCOUNTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME_OF_BENEFICIAL_OWNER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOUSE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOUSE_DATE_OF_BIRTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOUSE_OCCUPATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCES_OF_FUND_TO_ACCOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTHER_SOURCE_EXPECT_ANN_INC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME_OF_ASSOCIATED_BUSINESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FREQ_INTERNATIONAL_TRAVELER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSIDER_RELATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POLITICALLY_EXPOSED_PERSON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POWER_OF_ATTORNEY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOLDER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NATIONALITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEPHONE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTHORISED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTHORISED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTHORISED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_ADDRESS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TRUSTS_CLIENT_ACCOUNTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_OF_BENEFICIAL_OWNER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOUSE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOUSE_DATE_OF_BIRTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOUSE_OCCUPATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOURCES_OF_FUND_TO_ACCOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTHER_SOURCE_EXPECT_ANN_INC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_OF_ASSOCIATED_BUSINESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FREQ_INTERNATIONAL_TRAVELER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSIDER_RELATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POLITICALLY_EXPOSED_PERSON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POWER_OF_ATTORNEY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOLDER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NATIONALITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEPHONE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_MODIFIED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_MODIFIED_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHORISED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHORISED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHORISED_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_ADDRESS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUSTOMER_NO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUSTOMER_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUSTOMER_NO })
        </td>
    </tr>
}

</table>
