@model CMdm.UI.Web.Models.Customer.AuthFIModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.CUSTOMER_NO)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(model => model.CUSTOMER_NO)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.CMdmDisplayFor(model => model.CUSTOMER_NO)
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.SOCIAL_FINANCIAL_DISADVTAGE)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmDropDownListFor(model => model.SOCIAL_FINANCIAL_DISADVTAGE, Model.SocialOrFin)
                                    @Html.ValidationMessageFor(model => model.SOCIAL_FINANCIAL_DISADVTAGE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.SOCIAL_FINANCIAL_DOCUMENTS)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmEditorFor(model => model.SOCIAL_FINANCIAL_DOCUMENTS)
                                    @Html.ValidationMessageFor(model => model.SOCIAL_FINANCIAL_DOCUMENTS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.ENJOYED_TIERED_KYC)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmDropDownListFor(model => model.ENJOYED_TIERED_KYC, Model.KycReq)
                                    @Html.ValidationMessageFor(model => model.ENJOYED_TIERED_KYC, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.RISK_CATEGORY)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmDropDownListFor(model => model.RISK_CATEGORY, Model.YesKyc)
                                    @Html.ValidationMessageFor(model => model.RISK_CATEGORY, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.MANDATE_AUTH_COMBINE_RULE)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmEditorFor(model => model.MANDATE_AUTH_COMBINE_RULE)
                                    @Html.ValidationMessageFor(model => model.MANDATE_AUTH_COMBINE_RULE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.ACCOUNT_WITH_OTHER_BANKS)
                                </div>
                                <div class="col-md-7">
                                    @Html.CMdmEditorFor(model => model.ACCOUNT_WITH_OTHER_BANKS)
                                    @Html.ValidationMessageFor(model => model.ACCOUNT_WITH_OTHER_BANKS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


