@model IEnumerable<CMdm.UI.Web.Models.DqCatalogs.DqCatalogListModel>


@{
    ViewBag.Title = "Data Catalogs";
    ViewBag.SubTitle = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGridPageSize = 15;
    var gridPageSizes = "10, 15, 20, 50, 100";
}
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
<div class="content-header clearfix">
        @*<h1 class="pull-left">
            Data Catalogs
        </h1>*@
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-purple">
                <i class="fa fa-plus-square"></i>
                Add New
            </a>
        </div>
    </div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*<div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    Search
                                </div>
                                <div class="col-md-8">
                                    Search Field
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>*@
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CATALOG_NAME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CATEGORY_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CREATED_BY)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CREATED_DATE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LAST_MODIFIED_BY)
                                </th>
                                @*<th>
                        @Html.DisplayNameFor(model => model.LAST_MODIFIED_DATE)
                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATALOG_NAME)
                                    </td>
                                    <td>
                                        @(
                                            @item.CATEGORY_ID == 2 ? "Individual" : "Corporate"
                                        )

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATED_BY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATED_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LAST_MODIFIED_BY)
                                    </td>
                                    @*<td>
                            @Html.DisplayFor(modelItem => item.LAST_MODIFIED_DATE)
                        </td>*@
                                    <td>

                                        <a class="btn btn-default" href="@Url.Action("ListParams", "DQI", new { CatalogId = item.CATALOG_ID })"><i class="fa fa-eye"></i> <b>Details</b></a>

                                        @*@Html.ActionLink("Details", "Details", new { id = item.CATALOG_ID }) |*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}



            
